[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter.git"]
	path = bundle/vim-gitgutter.git
	url = http://github.com/airblade/vim-gitgutter.git
